@import '../../main.scss';
.Menu{
    height: 80px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition:opacity .24s ease-out;
    background-color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.MuiIconButton-label svg{
    width: 30px;
    height: 30px;
    margin: 10px;
    color:$color5;
   
}
.Menu.open{
    opacity: 1;

}

.Menu:hover{
    opacity: 1;

}